
.nav-bar{
    display: flex;
    justify-content: end;
    margin-top: 5%;
}

.nav-bar a{
    text-decoration: none;
    color: #ffffff;
}

.btn-new-user button{
    color: #ffffff;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    text-decoration: none;
    background: #3bc95f;
    box-shadow: 5px 5px 2px black;
}

.btn-new-user button:hover{
    background: #0bcc3b;
}

tbody tr button:first-child{
    background-color: rgba(255, 0, 0, 0.749); 
    border-radius: 5px; 
    border: none; 
    padding: 5px;
}

tbody tr button:nth-child(2){
    background-color: blue; 
    border-radius: 5px; 
    border: none; 
    padding: 5px;
}

tbody tr button:last-child{
    background-color: green; 
    border-radius: 5px; 
    border: none; 
    padding: 5px;
}

tbody tr td:last-child{
    display: flex;
    gap: 5px;
}

tbody tr button {
    display: flex;
}

tbody tr button > * {
    margin:auto;
}
