
<table>
    <tr>
        <td>ID</td>
        <td>Nombres</td>
        <td>Apellido</td>
        <td>Correo</td>
    </tr>
    @foreach (var User in Model)
    {
        <tr>
            <td>@User.Id</td>
            <td>@User.Name</td>
            <td>@User.LastName</td>
            <td>@User.Email</td>
        </tr>
    }
</table>