@{
    ViewBag.Title = "Users";
    ViewBag.Css = "user.css";
}
<link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />
<table class="table table-dark table-striped table-hover">
    <thead>
    <tr>
        <td>ID</td>
        <td>Nombres</td>
        <td>Apellido</td>
        <td>Correo</td>
        <td>Acciones</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var User in Model)
    {
        <tr>
            <td>@User.Id</td>
            <td>@User.Name</td>
            <td>@User.LastName</td>
            <td>@User.Email</td>
            <td>
                <a asp-controller="Users" asp-action="Show"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#ffffff" d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5"/></svg></a>
                <a asp-controller="Users" asp-action="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#ffffff" d="M7.615 20q-.69 0-1.152-.462Q6 19.075 6 18.385V6H5V5h4v-.77h6V5h4v1h-1v12.385q0 .69-.462 1.152q-.463.463-1.153.463zm2.193-3h1V8h-1zm3.384 0h1V8h-1z"/></svg></a>
                <a asp-controller="Users" asp-action="Update"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#ffffff" d="M20.7 7c.4-.4.4-1 0-1.4l-2.3-2.3c-.4-.4-1-.4-1.4 0l-1.8 1.8L19 8.9M3 17.2V21h3.8l11-11.1l-3.7-3.8zM7 2v3h3v2H7v3H5V7H2V5h3V2z"/></svg></a>
            </td>
        </tr>
    }
    </tbody>
</table>