@{
    ViewBag.Title = "Vista usuario";
    ViewBag.Css = "show.css";
}

<div class="container-main">
    <div class="container-show">
        <div class="left">
            <div class="container-info">
                <h5>ID:</h5>
                <p>02</p>
            </div>
            <div class="container-info">
                <h5>Nombre:</h5>
                <p>José</p>
            </div>
            <div class="container-info">
                <h5>Apellido:</h5>
                <p>Pérez</p>
            </div>
            <div class="container-info">
                <h5>Direccion:</h5>
                <p>Avenida Principal, Ciudad Y</p>
            </div>
        </div>
        <div class="right">
            <div class="container-info">
                <h5>Telefono:</h5>
                <p>555-5678</p>
            </div>
            <div class="container-info">
                <h5>Correo:</h5>
                <p>jose@example.com</p>
            </div>
            <div class="container-info">
                <h5>Ultimo registro:</h5>
                <p>2024-03-23</p>
            </div>
        </div>
    </div>
    <a class="btn-return" asp-controller="Users" asp-action="Index">Volver a lista de usuarios</a>
</div>