<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="mb-3">
            <label for="inputName" class="form-label">Nombre</label>
            <input type="email" class="form-control" id="inputName">
        </div>
        <div class="mb-3">
            <label for="inputLastName" class="form-label">Apellido</label>
            <input type="email" class="form-control" id="inputLastName">
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Correo</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="mb-3">
            <label for="inputGender" class="form-label">Genero</label>
            <input type="email" class="form-control" id="inputGender">
        </div>
        <div class="mb-3">
            <label for="inputAge" class="form-label">Edad</label>
            <input type="number" class="form-control" id="inputAge">
        </div>

    </div>
</body>
</html>