<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UserCRUD.styles.css" asp-append-version="true" />
    <title>Usuarios</title>
</head>
<body>
    <div>
        <ul class="nav-bar">
            <ul><nav>Inicio</nav></ul>
            <ul><nav>Gestion de usuarios</nav></ul>
        </ul>
    </div>

        <div class="btn"><button>Crear nuevo usuario</button></div>
        <table>
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Genero</th>
                    <th>Edad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Wilmar</td>
                    <td>Puerta</td>
                    <td>Wilmarp@gmail.com</td>
                    <td>M</td>
                    <td>20</td>
                    <td>x x x</td>
                </tr>
            </tbody>
        </table>
</body>
</html>