<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/usuarios.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UserCRUD.styles.css" asp-append-version="true" />
    <title>Usuarios</title>
</head>
<body>
    <div>
        <ul class="nav-bar">
            <ul><nav><a asp-controller="Dashboard" asp-action="Index">Inicio</a></nav></ul>
            <ul><nav><a asp-controller="Usuarios" asp-action="Index">Gestion de usuarios</a></nav></ul>
        </ul>
    </div>

        <div class="btn-new-user"><a asp-controller="Usuarios" asp-action="Create"><button>Crear nuevo usuario</button></a></div>
        <table class="table table-striped table-hover table-dark" >
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Genero</th>
                    <th>Edad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Wilmar</td>
                    <td>Puerta</td>
                    <td>Wilmarp@gmail.com</td>
                    <td>M</td>
                    <td>20</td>
                    <td>
                        <button>
                            <a asp-controller="Dashboard" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#ffffff" d="M7 21q-.825 0-1.413-.588T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.588 1.413T17 21H7Zm2-4h2V8H9v9Zm4 0h2V8h-2v9Z"/></svg></a>
                        </button>
                        <button>
                            <a asp-controller="Dashboard" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#ffffff" d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5"/></svg></a>
                        </button>
                        <button>
                            <a asp-controller="Dashboard" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 48 48"><g fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><path d="M24 44c11.046 0 20-8.954 20-20S35.046 4 24 4S4 12.954 4 24s8.954 20 20 20"/><path d="M33.542 27c-1.274 4.057-5.064 7-9.542 7c-4.477 0-8.268-2.943-9.542-7v6m19.084-18v6c-1.274-4.057-5.064-7-9.542-7c-4.477 0-8.268 2.943-9.542 7"/></g></svg></a>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Santos</td>
                    <td>Cardona</td>
                    <td>Santos@gmail.com</td>
                    <td>M</td>
                    <td>22</td>
                    <td>
                        <button>
                            <a asp-controller="Dashboard" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#ffffff" d="M7 21q-.825 0-1.413-.588T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.588 1.413T17 21H7Zm2-4h2V8H9v9Zm4 0h2V8h-2v9Z"/></svg></a>
                        </button>
                        <button>
                            <a asp-controller="Dashboard" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#ffffff" d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5"/></svg></a>
                        </button>
                        <button>
                            <a asp-controller="Dashboard" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 48 48"><g fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><path d="M24 44c11.046 0 20-8.954 20-20S35.046 4 24 4S4 12.954 4 24s8.954 20 20 20"/><path d="M33.542 27c-1.274 4.057-5.064 7-9.542 7c-4.477 0-8.268-2.943-9.542-7v6m19.084-18v6c-1.274-4.057-5.064-7-9.542-7c-4.477 0-8.268 2.943-9.542 7"/></g></svg></a>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
</body>
</html>